*
{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

html, body
{
	width: 100%;
	height: 100%;
	background: #F1EC7A;
}

* [class*="tween-"]
{
	backface-visibility: hidden;
}

.tween-change
{
	transition: transform 1500ms ease-in-out;
}

.tween-player
{
	transition: transform 200ms linear;
}



#display-wrapper
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	overflow: hidden;
}


.display-main
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;

	transform-origin: 50% 50%;
}


.flooring
{
	width: 8000px;
	height: 100%;
	position: absolute;
	top: 50%;
}

.flooring-actual
{
	width: inherit;
	height: 100%;
	position: absolute;
	background: #fff;	
}

.flooring-extra
{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
	left: -100%;
}

.player-layer
{
	width: inherit;
	height: 50%;
	position: absolute;
	left: 0; top: -50%;
}

.player-sprite
{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 0; bottom: 0;
	border-radius: 50%;
	background: #ff0033;
}
