*
{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

html, body
{
	width: 100%;
	height: 100%;
	background: #F1EC7A;
}

* [class*="tween-"]
{
	backface-visibility: hidden;
}

.tween-change
{
	transition: transform 1500ms ease-in-out;
}

.tween-player
{
	transition: transform 200ms linear;
}

#display-wrapper
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	overflow: hidden;
}


.display-main
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;

	transform-origin: 50% 50%;
}


.flooring
{
	width: 8000px;
	height: 100%;
	position: absolute;
	top: 50%;
}

.flooring-actual
{
	width: inherit;
	height: 100%;
	position: absolute;
	background: #fff;	
}

.flooring-extra-l, .flooring-extra-r
{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
}

.flooring-extra-l
{
	left: -100%;
}

.flooring-extra-r
{
	left: 8000px;
}

.trees-l, .trees-r
{
	width: 100%;
	height: 360px;
	position: absolute;
	top: -360px;
	background-image: url(../img/tree.svg);
	background-repeat: repeat-x;
}

.trees-l
{
	left: -100%;
	background-position: right bottom;
}

.trees-r
{
	left: 8000px;
	background-position: left bottom;
}

.player-layer, .sky-layer
{
	width: inherit;
	height: 50%;
	position: absolute;
	left: 0; top: -50%;
}

.player-sprite
{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 0; bottom: 0;
	border-radius: 50%;
	background: #ff0033;
}



.cloud
{
	width: 0; 
	height: 0;
	position: absolute;

	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;

	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #fff;
}

.cloud0
{
	border-left-width: 200px;
	border-right-width: 200px;
	border-bottom-width: 200px;

	left: 600px;
	top: 100px;
}

.cloud1
{
	border-left-width: 100px;
	border-right-width: 100px;
	border-bottom-width: 100px;

	left: 1600px;
	top: 200px;
}

.cloud2
{
	border-left-width: 300px;
	border-right-width: 300px;
	border-bottom-width: 300px;

	left: 2000px;
	top: 200px;
}

.gate-layer
{
	width: inherit;
	height: 50%;
	position: absolute;
	left: 0; top: 0;	
}

.gate
{
	width: 160px;
	height: 20px;
	position: absolute;
	background: #000;
}

.gate0
{
	transform: translateX(1000px);
}

.gate1
{
	transform: translateX(3000px);
}
